@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

[data-mode="light"] {
	--bg-color: beige;
	--text-color: rgb(2, 6, 19);
}

[data-mode="night"] {
	--bg-color: rgb(2, 6, 19);
	--text-color: beige;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	gap: 30px;
}

/*Estilos del boton*/

.switch {
	position: relative;
	width: 170px;
	height: 90px;
	background-color: #979797;
	border-radius: 90px;
	box-shadow: inset 8px 10px 10px 0px rgb(14, 14, 14);
	cursor: pointer;
	display: flex;
	align-items: center;
	border: 2px solid #979797;
}

.switch-mode {
	margin-left: 15px;
	background-color: beige;
	position: absolute;
	width: 70px;
	height: 70px;
	outline: none;
	border-radius: 50%;
}